# Entorno virtual
venv/
.env/

# Base de datos local
data.db
*.db

# Archivos compilados
__pycache__/
*.pyc

# Build / ejecutables
build/
dist/
*.spec

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
